


.checkout-page{
    width: 57%;
    min-height: 70vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
    border: 1.5px solid green;
    overflow: scroll;



    .checkout-header{
        width: 100%;
        padding: 10px 1px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1.5px solid green;


        .header-block{
            text-transform: capitalize;
            width: auto;
   


          
        }
    }
}
