.row{
    display: flex;
    flex-direction: row;
    margin: 20px;
    // margin-bottom: 40px;

.checkout-page {
  width: 90%;
  min-height: 70vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  // border: 1.5px solid green;
  // overflow: scroll;
  // box-shadow: 1px 3px 3px;

  .checkout-header {
    width: 100%;
    padding: 10px 1px;
    display: flex;
    justify-content: space-between;
    // border-bottom: 1.5px solid green;
    // box-shadow: 1px 1px 1px;

    .header-block {
      text-transform: capitalize;
      width: auto;
    }
  }
}


.colcontainer{
   border: none;
 width: 30%;
  height: 400px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
   
 border-radius: 20px;
 
    -webkit-box-shadow: 0px 5px 12px 0px rgba(159, 95, 246, 1);
-moz-box-shadow:    0px 5px 12px 0px rgba(159, 95, 246, 1);
box-shadow:         0px 5px 12px 0px rgba(159, 95, 246, 1);
    

    .priceDetail{
      display: flex;
        width: 530px;
        // border: 2px solid;
        height: 60px;
        // margin-top: -50px;
        align-items: flex-end;
        border-bottom: 0.2px solid grey;
        

        .priceDetail1{
          font-size: 35px;
          color: grey;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: 16px;
        }

      
    }
  
    .price2{
      // margin-top: -50px;
      display: flex;
      justify-content: space-between;
      
      width: 530px;


      .total1{
        font-size: 25px;
        font-weight: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      .price1{
        font-size: 25px;
        font-weight: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
       }

       .price3{
        //  border: 2px solid yellow;
         display: flex;
         justify-content: space-between;
         padding-top: 10px;
         width: 530px;

         .total1{
          font-size: 25px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
  
        .price1{
          font-size: 25px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
       }

       .paybutt{
         border: none;
         background-color: orangered;
         color: aliceblue;
         font-size: 20px;
         width: 300px;
         height: 50px;
         border-radius: 10px;
       }

        .detail{
          font-size: 13px;
          color: red;
      
        }
        }
    }

.colcontainer{
  // border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}

@media screen and (max-width: 492px){

    .checkout-page {
        width: 90vw;
        min-height: 70vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px auto 0;
        // border: 1.5px solid green;
        // overflow: scroll;
        // box-shadow: 1px 3px 3px;
      
        .checkout-header {
          width: 100%;
          padding: 10px 1px;
          display: flex;
          justify-content: space-between;
          // border-bottom: 1.5px solid green;
          // box-shadow: 1px 1px 1px;
      
          .header-block {
            text-transform: capitalize;
            width: auto;
          }
        }
      }
}

@media screen and (max-width: 360px){
    .checkout-page {
        width: 90%;
        min-height: 70vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px auto 0;
        // border: 1.5px solid green;
        // overflow: scroll;
        // box-shadow: 1px 3px 3px;
      
        .checkout-header {
          width: 100%;
          padding: 10px 1px;
          display: flex;
          font-size: 12px;
          justify-content: space-between;
          // border-bottom: 1.5px solid green;
          // box-shadow: 1px 1px 1px;
      
          .header-block {
            text-transform: capitalize;
            width: auto;
          }
        }
      }
}