.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 550px;
  align-items: center;
  box-shadow: 2px 5px 5px #888888;
  overflow: hidden;
  
  margin: 8px 10px;

  .heart{
    width: 25px;
    height: 25px;
     
  }

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 5px 5px;
    // border: 2px solid yellow;

    .name {
      width: 85%;
      margin-bottom: 15px;
    }

    .price {
      width: 14%;
    }

   
  }

  .ah {
    // border: 2px solid yellow;
    width: 99%;
    display: flex;
    justify-content: space-around ;
    align-items: center;
        

    .heart{
      cursor: pointer;
    }
  }



  .custom-button{
    width: 80%;
    margin: 6px 0;
    // border: 2px solid green;
  }
}


@media screen and (max-width: 850px){
  .collection-item {
    width: 210px;
    display: flex;
    flex-direction: column;
    height: 280px;
    align-items: center;
    margin: 6px;
    box-shadow: 3px 5px 10px #888888;
    overflow: hidden;
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px; 
    }
  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      padding: 0 14px;
margin-bottom: 10px;      
  
      .name {
        width: 90%;
        margin-bottom: 15px;
        font-size: 12px;
      }
  
      .price {
        width: 10%;
        font-size: 12px;
      }
    }
    .custom-button{
      width: 80%;
      margin: 6px 0;
    }
  }
}

@media screen and (max-width: 400px){
  .collection-item {
    width: 98px;
    display: flex;
    flex-direction: column;
    height: 150px;
    align-items: center;
    margin: 6px;
    box-shadow: 3px 5px 10px #888888;
    overflow: hidden;
  
    .image {
      width: 100%;
      height: 80%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px; 
    }
  
    .collection-footer {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: space-between;
  
  
      .name {
        width:  100%;
        margin-bottom: 15px;
        font-size: 8px;
      }
  
      .price {
     display: none;
       
      }
    }
    .custom-button{
      width: 80%;
      top: 160px;
      margin:3px 0;
      padding-bottom:-10px;
      margin-left: 1px;
      height:15%;
      font-size: 8px;
      display: flex;
      justify-content: center;
      
      align-items: center;
     
     
    }
  }
}