.tq1{
    // border: 2px solid;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tq2{
      margin-bottom: 30px;
        // border: 2px solid;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .tq3{
        margin-bottom: 30px;
        // border: 2px solid;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}