.row1{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;


    .collection1{
        border: 1px solid rgb(105, 105, 224);
        background-color:rgb(105, 105, 224) ;
        height: 60px;
        opacity:0.8;
    }
.collection-page {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;


  
    .title {
      font-size: 38px;
      margin: 0px auto auto;
    }
  
    .row {
      display: flex;
      justify-content: center;
  
      .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-gap: 10px;
  
        & .collection-item {
          margin-bottom: 20px;
          box-shadow: 2px 5px 5px;
        }
      }
    }
  }
}
  @media screen and (max-width: 850px) {
.row{
    .collection-page {
      display: flex;
      flex-direction: column;
      // border: 1px solid red;
  
      .title {
        font-size: 38px;
        margin: 0px auto auto;
      }
  
      .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
  
        & .collection-item {
          margin-bottom: 20px;
          box-shadow: 2px 5px 5px;
        }
      }
    }
  }
}
  @media screen and (max-width: 530px) {
      .row{
    .collection-page {
      display: flex;
      flex-direction: column;
      // border: 1px solid red;
  
      .title {
        font-size: 38px;
        margin: 0px auto auto;
      }
  
      .row {
        display: flex;
        justify-content: center;
  
        .items {
          display: grid;
          grid-template-columns: 1fr 1fr ;
          grid-gap: 10px;
  
          & .collection-item {
            margin-bottom: 20px;
            box-shadow: 2px 5px 5px;
          }
        }
      }
    }
  }
}
  
  @media screen and (max-width: 300px) {
      .row{
    .collection-page {
      display: flex;
      flex-direction: column;
      border: 1px solid red;
      margin-top: 40px;
      width: fit-content;
  
  
      .title {
        font-size: 38px;
        margin: 0px auto auto;
      }
  
      .row {
        display: flex;
        justify-content: center;
  
        .items {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 10px 6px;
  
          & .collection-item {
            margin-bottom: 20px;
            box-shadow: 2px 5px 5px;
          }
        }
      }
    }
  }
}
  